<div class="foodte">
        <div class="bot_dh">
              <a href="http://www.chinaz.com/aboutus/index.html" class="hui333" target="_blank">关于站长之家</a> -
               <a href="http://ww.chinaz.com/aboutus/contact.php?from=sc" class="hui333" target="_blank">联系我们(电话)</a> -
               <a href="http://www.chinaz.com/aboutus/ad.html" class="hui333" target="_blank">广告服务</a> -
               <a href="http://www.chinaz.com/aboutus/announce.html" class="hui333" target="_blank">版权声明</a> -
               <a href="http://sc.chinaz.com/link.html" class="hui333" target="_blank">友情链接</a> -
               <a href="http://sc.chinaz.com/ditu.html" class="hui333" target="_blank">栏目地图</a> -
               <a href="http://sc.chinaz.com/bangzhu.html" class="hui333" target="_blank">帮助说明</a>
        </div>
        <div class="banquan">
              <p>© CopyRight 2002-2017, <a href="http://www.chinaz.com">CHINAZ.COM</a>, Inc.All Rights Reserved. <script src="http://s4.cnzz.com/stat.php?id=300636&amp;web_id=300636" language="JavaScript"></script><script src="http://c.cnzz.com/core.php?web_id=300636&amp;t=z" charset="utf-8" type="text/javascript"></script><a href="https://www.cnzz.com/stat/website.php?web_id=300636" target="_blank" title="站长统计">站长统计</a></p>
            </div>
        </div>