<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <!-- 导航栏商标 -->
    <a class="navbar-brand" href="/article/articleList/">我的博客</a>

    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
        <!-- 条目 -->
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/article-create">Compose</a>

        </li>
        {% else %}

        {% endif %}

             <li class="nav-item">
                 {% if request.user.is_authenticated %}

                     <div class="btn-group" bgcolor="#000000">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ><font color="#FFFFFF">{{ user.username }}</font>
                            <img src="{{ profile.avatar.url }}" style="max-width: 30px; border-radius: 20%;" class="img-circle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" >
                            <li><a href="#" onclick="user_delete()">删除账号</a></li>
                            <li><a href="/userprofile/logout">退出登录</a></li>
                            <li><a href="/userprofile/edit/{{ user.id }}">修改资料</a></li>
                            <li class="divider"></li>


                        </ul>
                    </div>

                 {% else %}

                     <a class="nav-link" href="/userprofile/login">登陆/注册</a>
                 {% endif %}

            </li>



      </ul>
    </div>

  </div>
</nav>

{% if user.is_authenticated %}
<script>
<!-- 弹窗逻辑 -->
function user_delete(){
    layer.confirm('确定要删除用户吗？', {
      btn: ['不了','删除'] //按钮
    }, function(){
      layer.msg('取消删除', {icon: 2});
    }, function(){
        location.href="/userprofile/user-delete/{{ user.id }}"
        layer.msg('删除成功', {icon: 1});

    });
                    }
</script>
{% endif %}