<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% extends "base.html" %}
        {% load staticfiles %}

        {% block title %}
        文章详情
        {% endblock title %}

        {% block content %}
            <div class="container">
                <div class="row">
                    <!-- 标题及作者 -->
                    <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
                    <div class="col-12 alert alert-success">
                        <a  >作者：{{ article.author }}</a>
                        <!-- 加入判断登陆逻辑 -->
                        {% if user.is_authenticated %}
                        <a href="#" onclick="confirm_delete()">   删除文章   </a>
                        <a href="/article/article-update/{{ article.id }}" >  修改文章   </a>
                        {% else %}
{#                            <span class="operate" >删除文章</span>#}
{#                            <span class="operate" >修改文章</span>#}

                        {% endif %}
                    </div>
                    <!-- 文章正文 -->

                    <div class="col-12">


                        <p>{{ article.body | safe }}</p>
                    </div>
                </div>
            </div>
            <script>
                <!-- 弹窗逻辑 -->
                function confirm_delete(){
layer.confirm('确定要删除吗？', {
  btn: ['不了','删除'] //按钮
}, function(){
  layer.msg('取消删除', {icon: 2});
}, function(){
    location.href="/article/article-delete/{{ article.id }}"
    layer.msg('删除成功', {icon: 1});

});


            {#    layer.open({#}
            {##}
            {#title: "删除确认",#}
            {##}
            {#content: "真的要删了这篇文章吗？",#}
            {##}
            {#yes: function(index, layero) {#}
            {##}
            {#            location.href="/article/article-delete/{{ article.id }}"#}
            {#        },#}
            {#    })#}
             }

            </script>

        {% endblock content %}
    </title>
</head>
<body>

</body>
</html>